@charset "UTF-8";
*{
	font-family: Arial, san-serif;
}

.clear {
	clear: both;
}

body{
	margin: 0;
	padding: 0;
}

pre{
	font-size: 15px;
}

.main_wrap {
	position: relative;
	top: 100px;
	width: 1200px;
	overflow: auto;
	margin: 0 auto;
	margin-bottom: 200px;
	/* border: 1px dotted black; */
}

.content_wrap {
	width: 1000px;
	float: right;
	/* background: green; */
	box-sizing: border-box;
}

.sub_wrap {
	width: 200px;
	float: left;
	text-align: left;
	/* background: yellow; */
	box-sizing: border-box;
}

.header_wrap{
	position: fixed;
	width: 100%;
	height:100px;
	top: 0;
	background: white;
	z-index: 1;
}

header {
	width: 1200px;
	height: 77px;
	margin: 0 auto;
	background: white;
	
	/* border: 1px dotted black; */
}

.footer_wrap{
	position: fixed;
	width: 100%;
	height:77px;
	bottom: 0;
	background: white;
	z-index: 1;
}

footer {
	position: relative;
	width: 1200px;
	height: 77px;
	margin: 0 auto;
	background: white;
	/* border: 1px dotted black; */
}

.logo {
	float: left;
}

.adminLogin {
	float: right;
}

ul li {
	float: left;
	margin: 10px;
	list-style: none;
}

table.tblAdminProduct, table.tblAdminProductCat,
table.tblAdminFaq, table.tblAdminFaqCat,
table.tblAdminQna, table.tblAdminQnaCat,
table.tblAdminMember,
table.tblAdminBanner,
table.tblAdminOrder {
	/*border-collapse: collapse;*/
	border-spacing: 2px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	margin-top: 15px;
	width: 100%;
	font-size: 90%;
	empty-cells: hide;
}

table.options {
	border-collapse: collapse;
	margin-top: 3px;
	margin-bottom: 15px;
	font-size: 85%;
	width: 90%;
}

.options th, .options td,
.tblAdminProduct th, .tblAdminProduct td,
.tblAdminProductCat th, .tblAdminProductCat td,
.tblAdminFaq th, .tblAdminFaq td,
.tblAdminFaqCat th, .tblAdminFaqCat td,
.tblAdminQna th, .tblAdminQna td,
.tblAdminQnaCat th, .tblAdminQnaCat td,
.tblAdminMember th, .tblAdminMember td,
.tblAdminBanner th, .tblAdminBanner td,
.tblAdminOrder th, .tblAdminOrder td {
	text-align: center;
	/* border-bottom: 1px dotted #6F0C78; */
	padding: 5px;
	border: 1px solid black;
	/*empty-cells: hide;*/
}

table a {
	display: block;
	height: 20px;
	text-decoration: none;
	padding: 10px;
}

table a:hover {
	font-weight: bold;
}

.btn {
	display: inline-block;
}