@charset "UTF-8";

body{
	width: 100vw;
	/* height: 100vh; */
	margin: 0;
	display: flex;
	justify-content: center;
}

.wrap{
	width: 100%;
	display: flex;
	flex-direction: column;
	
	box-sizing: border-box;
	/* border: 3px solid red; */
	margin: 1px;
}

header{
	box-sizing: border-box;
	border: 3px dotted blue;
	margin: 1px;
}

.body_wrap{
	display: flex;
	flex-direction: row;
}

.sub_wrap{
	display: flex;
	flex-direction: column;
	
	box-sizing: border-box;
	/* border: 3px dotted green; */
	margin: 1px;
}

.main_wrap{
	display: flex;
	flex-direction: row;
	flex: 1;
	
	box-sizing: border-box;
	/* border: 3px dotted orange; */
	margin: 1px;
}

footer{
	box-sizing: border-box;
	border: 3px dotted blue;
	margin: 1px;
}

/*media query*/
@media(max-width:430px){
	
	.body_wrap{
		flex-direction: column;
	}
	
}

@media(min-width:431px) and (max-width:1024px){
	
	.body_wrap{
		flex-direction: column;
	}
	
}