@charset "UTF-8";

#category{ display:flex; align-items:center; width:100%; height:80px; background-color: black; margin-bottom:0; }
#category form{ margin-right:150px; }
#category form input[type="search"] { margin-right:0; padding:0; width:250px; height:30px; flex:1;}
#category form button{ border:none; padding:0; }
#category form button img{ width:30px; height:30px;}

#category_menu ul{ list-style:none; margin:0; padding:0; display:flex; }
#category_menu ul li{ margin-right:20px; }
#category_menu ul li a{ text-decoration:none; padding:10px; color:white; font-weight:bold; font-size:130%; }


#top_menu{ display:flex; align-items:center; width:100%; height:40px; background-color:white;
					margin-top:0; clear:both; }
#top_menu input{ margin:0 10px 0 10px; padding:0; width:150px; height:30px; border:1px solid black;
				 background-color:white; font-weight:bold; font-size:90%; }
#top_menu ul{ list-style:none; margin:0; padding:0; display:flex; }
#top_menu ul li{margin-right:5px;}
#top_menu ul li a{ text-decoration:none; padding:5px; color:black; font-weight:bold; font-size:90%; }

hr{ border:none; border-top:1px solid lightgray; }

footer span.title{ text-align:left; font-weight:bold; margin-left:11px; }
footer fieldset{ text-align:left; color:darkgray; font-weight:light; border:none; font-size:80%; margin-bottom:10;}
footer #footerEnd{ width:100%; height:50px; background-color:black; color:white; }
footer #footerEnd span{ line-height:50px; color:white; text-align:left; font-weight:light; font-size:100%;
				margin-left:10px; letter-spacing:2px; }
				

article form div#loginTop{ width:450px; height:45px; display:flex; align-items:center; border:1px solid black; 
					margin:0 auto; }					
article form div#loginTop img{ width:40px; height:40px; margin-left:20px; }
article form div#loginTop span{ width:60px; height:60px;  font-weight:bold; font-size:100%; line-height:60px;
					margin-left:auto; margin-right:auto; color:black;  clear:both; }
					
article fieldset#loginBottom{ width:450px; height:100%; align-items:center; border:1px solid red;
					margin:0 auto; padding:0; }
article fieldset#loginBottom hr{border:none; border-top:2px solid black; widh:60px; margin-left:auto; margin-right:auto; }
article fieldset#loginBottom span{ width:100px; height:40px; font-weight:bold; margin:0 auto; }
article fieldset#loginBottom input.loginData{ width:300px; height:40px; border-radius:3%; border:1px solid lightgray; 
					margin-left:auto; margin-right:auto; }
article fieldset#loginBottom input#loginBtn{ width:300px; height:40px; border-radius:3%; color:white;
					background-color:black; margin-left:auto; margin-right:auto; }
article fieldset#loginBottom input#findBtn{ width:200px; height:25px; border:none; color:lightgray; 
					background-color:white; margin-right:0; }

